html, body {
  margin:0;
  padding:0;
  height:100%;
}

.background {
  background-image: url(../media/background.jpg);
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.AppHeader {
height: 200px;
display: flex;
justify-content: center;
}

.AppLogo {
margin-top: 70px;
margin-bottom: 20px;
height: 100px;
pointer-events: none;
}

.MainContent {
width: 40%;
height: 460px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 50px;
}

.LoginPanel {
height: 432px;
text-align: center;
}

.Footer {
position: fixed;
bottom:0;
width:100%;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
}

.Footer-text {
font-size: 12px;
font-style: bold;
color: #a9a9a9;
}

.root-container {
width: 100%;
height: 88%;
display: flex;
align-items: center;
flex-direction: column;
}

.box-controller {
visibility: visible;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
max-width: 24em;
min-width: 21em;
height: 35px;
-webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
transition: visibility 0.5s ease-out;
margin-bottom: 20px;
align-items: center;
margin-top: 50px;


}

.controller {
flex: 1;
text-align: center;
height: 100%;
line-height: 2;
cursor: pointer;
}

.selected-controller {
transition: border 0.1s ease-out;
border-bottom: 2px solid #19438e;
}

.box-container {
display: flex;
flex-direction: column;
max-width: 24em;
min-width: 21em;
}


.box {
flex-direction: column;
justify-content: center;
}

.input-group {
display: flex;
flex-direction: column;
margin-top: 5px;
margin-bottom: 5px;
}

div.scroll
{

height:250PX;
padding: 1%;
overflow-y:scroll;

}
.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: rgb(169, 192, 139);
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(216, 216, 216);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}


.login-label {
font-family: Oxygen, sans-serif;
font-size: 20px;
font-weight: 600;
padding-left: 5px;
}



.login-input {
height: 2.1em;
border-radius: 3px;
border: 1px solid #414141;
transition: border 0.1s ease-out;
padding: 3px;
font-family: Oxygen, sans-serif;
font-size: 14px;
color: #3e3e42;
background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
border: 1.5px solid #19438e;
}

.login-input:focus {
border: 2px solid #65d8e7;
box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
font-family: Oxygen, sans-serif;
font-size: 16px; 
color: rgba(15, 15, 15, 0.4);
}

.login-btn {
padding: 2px 30px;
border: 0;
font-size: 18px;
border-radius: 3px;
font-family: Oxygen, sans-serif;
background-color: rgba(15, 15, 15, 0.03);
margin-top: 20px;
border: 2px solid #417cef;
transition: background-color 0.3s ease-out;
cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
background-color: #417cef;
color: white;
}

.error {
  color: #e74c3c;
  font-size: 16px;
}

.password-state {
display: flex;
flex-direction: row;
margin-top: 20px;
}

.pwd {
height: 6px;
flex: 1;
visibility: hidden;
}

.pwd-weak {
background-color: #e74c3c;
}

.pwd-medium {
background-color: #3498db;
}

.pwd-strong {
background-color: #2ecc71;
}

.show {
visibility: visible;
}

.PageContent {
align-items: center;
position: relative;
padding-top: 10px;
height: 380px;
}

.MyCrawls {
  overflow: auto;
  height: 280px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.crawlBorder {
  border-top: 1px lightgrey;
  color: lightgrey
}

span + span {
  margin-left: 10px;
}

.MyCrawlsElements {
  position: relative;
}

.MyCrawlsText {
  align-items: left;
  display: inline-block;
  margin-right: 20px;
  width: 83%;
}

.MyCrawlsIcons {
  display: inline-block;
}

.navbar {
  width: 90%;
}
  
#linkInput {
  position: relative;
  display: block;
  width: 300px;
}

#linkSubmit {
  margin-top: 20px;
  margin-bottom: 10px;
}

#helper-text {
  padding-left: 20px;
}
