
.CrawlingBanner {
    background-image: url(./background.jpg);
    height: 140px;
    margin-top: 0;
    padding: 1px 30px 10px; 
    background-position: top center;
    width: 100%;
    position: sticky;
  }

  .CrawlingBox {
    margin-top: 10px;
    width: 650px;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
  }

  .hovered,
.hovered * {
    cursor: pointer;
    color: black;
    background: rgba(37, 172, 131, 0.2);
}

div.elements{
  width:100%;
  float: left;
}

.submit{
    padding: 5px 50px 5px;
    float: right;
  }
 
.SettingsBox {
    width: 100px;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    float: top;
    position: top;
  }


